.details-banner{
    width: 100%;
    height: 100vh;
    position: relative;
}

.details-banner .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(353.54deg, #000000 9.64%, rgba(0, 0, 0, 0.731602) 37.09%, rgba(0, 0, 0, 0.468485) 45.71%, rgba(0, 0, 0, 0) 54.28%);


}

.details-banner .image-container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.details-banner .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details-banner .banner-content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 80px 50px 80px;
}

.details-banner .banner-info .year {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 5px;
}

.details-banner .banner-info .title {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 10px;
}

.banner-info .meta {
  color: #ccc;
  margin-bottom: 25px;
  font-size: 15px;
}

.buttons {
  display: flex;
  gap: 12px;
}


.banner-actions {
  display: flex;
  gap: 12px;
}

.btn.dark {
  background-color: rgba(26, 26, 26, 0.8);
  color: white;
}

.btn.dark:hover {
  background-color: rgba(45, 45, 45, 0.9);
}


@media (max-width: 990px) {

  .details-banner{
    height: 338px;
    margin-top: 80px;
  }

  .details-banner .banner-info .title{
    font-size: 24px;
  }

  .details-banner .banner-content{
    padding: 0 20px 30px;
  }
}