.search-div {
    position: fixed;
    top: 0;
    width: 100%;
  padding: 0;
  height: 0;
  background-color: #0e0e0e;
  color: #fff;
  overflow: hidden;
  transition: height ease 0.5s;
}

.search-div.active {
    height: 100vh;
    padding-top: 100px;
    pointer-events: all;
}

.search-div .container{
  flex-direction: column;
  align-items: flex-start;
  
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.search-input {
  width: 50%;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  
}

.search-btn {
  background: linear-gradient(90deg, #ff004d, #ff7a00);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.search-btn:hover {
  opacity: 0.8;
}

.loading-text,
.no-results {
  text-align: center;
  font-size: 18px;
  color: #ccc;
}

.results-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.results-container{
    width: 100%;
}

.search-card-container{
    display: flex;
    flex-wrap: wrap;
    height: 75vh;
    width: 100%;
    padding-bottom: 30px;
    overflow-y: scroll;
    gap: 1%;
    padding: 0 10px 0 0;
}

.search-card-container::-webkit-scrollbar {
  width: 8px;              
}

.search-card-container::-webkit-scrollbar-track {
  background: transparent;
  margin: 6px 0;            
  border-radius: 10px;
}

.search-card-container::-webkit-scrollbar-thumb {
  background: #7300FF;
  border: 2px solid #7300FF;
  border-radius: 10px;      
  min-height: 24px;         
  transition: background-color 160ms ease, transform 160ms ease;
}


.search-card-container .movie-card{
    display: block;
    width: 19%;
}

@media (max-width: 990px) {
  .search-card-container{
    gap: 3%;
  }
  .search-card-container .movie-card{
      width: 30%;
  }
}