@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding : 0;
  margin: 0;
  box-sizing: border-box;
}


body{
    margin:0;
    overflow-x: hidden;
    background: #000000;
    color: #fff;
    font-family: "Poppins", sans-serif;

}

body.no-scroll {
  overflow: hidden;
}


        .container{
            width:92.5vw;
            margin:0 auto;
        }

        :root{
        --bg:#f4f5f6;
        --surface:#ffffff;
        --text:#1f2937;
        --muted:#6b7280;
        --shadow: 0 10px 25px rgba(0,0,0,.08);
        --chip-shadow: 0 8px 18px rgba(0,0,0,.15), inset 0 1px 0 rgba(255,255,255,.6);
        --radius: 14px;
        }

        a{
            text-decoration: none;
            color: #fff;
        }

        .btn{
            all: unset;
            display: flex;
            width: fit-content;
            background-color: #7300FF;
            padding: 12px 25px;
            border-radius: 0 16px 0 16px;
            gap: 7px;
            font-size: 15px;
            cursor: pointer;
            font-weight: 600;
        }

        .play-btn{
            background-color:#594D5B33;
        }